*{
    background-color: #1e2140 ;
}

#main
{
    width: 450px;
    height:300px;
    background-color:#00000097 ;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10%;
    transform: translate(-50%, -50%);


}


#menu
{
    width: 330px;
    height:60px;
    margin-top: 20px;
    margin-left:60px;
    position: relative;
    background-color: rgb(0, 0, 0) ;
    border-radius: 9%/60%;
}


#timer
{
    cursor: pointer;
    position: relative;
    width: 380px;
    height:160px;
    border: 10px solid #151932;
    background-color:#151932;
    border-radius: 10%;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 95px;
    font-family: 'Orbitron', sans-serif;
    color: white ;
    display: flex;
    align-items:center;
    justify-content:center;

}

#timer:hover
{
    color: #f87270;
    transition: 0.5s;
}



.menu_elts
{
    position: relative;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 110px;
    height: 60px;
    float: left;
    font-size: 18px;
    color: white ;
    border-radius:  60%/130%;
    background-color: rgb(0, 0, 0) ;

}


.menu_elts:hover
{
    background-color:#f87270;
    cursor: pointer;
    transition: 0.3s;
}


#all
{
    width: 500px;
    height: 800px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}


#settings
{
    position: absolute;
    text-align: center;
    width: 450px;
    height: 30px;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 0%);

}

.btn
{
    border: none;
}

.btn:hover
{
    cursor: pointer;
    transition: 0.3s;
}


#setmenu
{
    position: absolute;
    width: 450px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

h2
{
    font-size: 30px;
    text-align: center;
}

#content
{
    transform: translate(5%,0%);
    width: 400px;
    height: 250px;
    background-color:white;
    text-align: left;
}

input[type=text]
{
    width: 50%;
    height: 30px;
    
}

label {
    display: inline-block;
    width: 150px;
    font-size: large;
    font-weight: 550;
}

#savebtn
{
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: black;
    border-radius: 10%;
    color: white;
    font-size: large;
    border: none;
    cursor: pointer;
}

#savebtn:hover
{
    background-color: #f87270;
    transition: 0.2s;
}

.set
{
    background-color: white;
}
.hide
{
    display: none;
}

